{% if product.available %}

  {% if settings.show_add_to_cart_button %}
    <product-form>
      {%- form 'product', product -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <div class="product-form__buttons">
          <button
            type="submit"
            name="add"
            class="button button--full-width"
          >Add to cart
          </button>
        </div>
      {%- endform -%}
    </product-form>
  {% else %}

    {% if settings.show_buy_now_button %}
      <buy-now-form>
        {%- form 'product', product -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <div class="product-form__buttons">
            <button
              type="submit"
              name="add"
              class="button button--full-width"
            >Buy now
            </button>
          </div>
        {%- endform -%}
      </buy-now-form>
    {% endif %}

  {% endif %}

{% endif %}